/* CSS 작성 */
.wrap{
    margin: 0 auto;
    width: 1020px;

}

.header {
    width: 1020px;
    height: 124px;
    position: relative;
    left: 10px;
    bottom: 40px;
    
    
}

.logo {
    width: 176px ;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 40px;
    
}
.logoimg {
    width: 176px;
    height: 40px;
    
}

.title {
    width: 366px;
    height: 28px;
    position: absolute;
    top: 100px;
    font-size: 24px;
}


.discovery {
    width: 1036px;
    margin: 0 auto;
}

.headline {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-left: 10px;

    
}

.discoverytitle,
.subtitle {
    margin: 0;
    font-weight: 500;
    
    
}
.discoverytitle{
    font-size: 24px;
}

.divider{
    margin: 0 10px;
    color: var(—color-gray-600);
}
.subtitle {
    font-size: 16px;
    color: var(--color-gray-600);
}

.discoverylist {
   position: relative;
   
    
    
    
   
}
.discovery .img{
    box-sizing: border-box;
}
.product {
  float: left;
  position: relative;
  box-sizing: border-box;
  
  
  

}
.tea{
    position: absolute;
    left: 1px;
    bottom: 120px;
    overflow: hidden;
}

.vaseline {
    position: absolute;
    left: 538px;
    bottom: 120px;
}
.handcream{
    position: absolute;
    top: 320px;
    left: 1px;
    
}
.bibs {
    position: absolute;
    top: 320px;
    left: 265px;
    
}
.hanssem{
    position: absolute;
    top: 320px;
    left: 535px;
    
}
.dumpling{
    position: absolute;
    top: 320px;
    left: 800px;
    
}
.wettissue {
    position: absolute;
    top: 640px;
}
.febreze {
    position: absolute;
    top: 640px;
    left: 530px;

}
.dyson{
    position: absolute;
    top: 640px;
    left: 800px;
}



.discoveryimg_large {
    width: 502px;
    /* height: 310px;
    box-sizing: border-box;
    border: 1px solid var(--gray--500);
    margin: 16px 8px 0; */
    height: 310px;
    margin: 16px 8px 0;
    
    
}

.discoveryimg_small {
    width: 243px;
    /* height: 310px;
    box-sizing: border-box;
    border: 1px solid var(--gray--500);
    margin: 16px 8px 0; */
    height: 310px;
    margin: 16px 8px 0;
    
}


.pb{
    
    height: 310px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray--500);
    box-sizing: border-box;
}
.button {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 20px;
    background:var(--opacity--20) url(/assets/icon/angle-right-square.svg);
    top: 230px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    
}

.pb:hover {
    border: 1px solid var(--blue--600);
}

.pb:hover .button{
    width: auto;
    padding: 12px 40px 13px 20px;
    color: var(white);
    background-color: var(--blue--600);
    

}
.pb:focus .button{
    width: auto;
    padding: 12px 40px 13px 20px;
    color: var(white);
    background-color: var(--blue--600);

}

.pb:hover .button::before, 
.pb:focus .button::before{
    content: attr(aria-label);
}    


